body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background-color: #ffffff;
}

.nav {
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.menu {
}

.menu-item {
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-link.menu-link_first {
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #4d5ae5;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-link {
  color: #2e2f42;
}

.contact-link:hover,
.contact-link:focus {
  color: #4d5ae5;
}

.contact-link:not(:last-child) {
  margin-bottom: 8px;
}

/* Main */
.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}

.home-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  padding: 14px 28px;
  text-transform: uppercase;
}

/* Заголовок секції .qualities-section */
.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500; /* Виконання вимоги 1 */
  font-size: 20px; /* Виконання вимоги 2 */
  line-height: 1.2; /* Виконання вимоги 3 */
  letter-spacing: 0.02em; /* Виконання вимоги 4 */
  color: #2e2f42; /* Виконання вимоги 5 */
  text-align: center;
  text-transform: uppercase;
}

.qualities-list {
  display: flex;
  justify-content: space-between;
}

.quality-item {
  width: 270px;
}

.quality-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.quality-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section {
}

.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-item {
  width: 360px;
  text-align: center;
}

.team-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.team-role {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  width: calc(100% / 3 - 20px);
}

.portfolio-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.portfolio-category {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo-span-footer {
  color: #4d5ae5;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
